body {
  font-family: "Roboto", sans-serif;
  background: #f9f8fa;
}

.text-center {
  text-align: center;
}
.container {
  color: darkslategray;
  background: white;
  padding: 0px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 0.7em;
}

/*buttons and inputs */
button {
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.primary {
  background: steelblue;
}
.danger {
  background: crimson;
}
